/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    border: 2px solid #D1D1D1;
    margin-bottom: 27px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

/* Header  */
nav{
    margin-bottom: 80px;
}
nav> ul{
    display: flex;

    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
     
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav  li a{
    text-decoration: none;
    color: black;
    font-size: 20px; 
}
nav li:hover{
    background-color: yellow;
}
/* nav > ul > li:hover > ul{
    display: block;
} */
.dropdown{
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding: 0;
}
.dropdown li{
    margin: 23px 50px;
    padding:20px;
}


/* top players style  */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
   font-size: 24px;
   margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap:30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blogs style  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}

.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* courses style  */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:  #FFC014;
}
.fa-star.empty{
   color: #AEAEAE;

}

/* Koures  */

 .kourses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.kourses-info{
    display: flex;
    justify-content: space-between;
}
.chobi img{
    width: 250px;
    height: 140px;
}
.time{
    margin-left: 10px;
}
.time-icon{
    margin-right: 10px;
     background-color: rgba(148, 106, 106, 0.664);
     color: black;
}
.time-icon:hover{
    background-color: rgb(224, 21, 55);
    color: white;
}





/* media queries  */
/* Mobile Device */
 @media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
       
        grid-template-columns: repeat(1,1fr);
       
    }
    .player, .blog{
        flex-direction: column;
       
    }
    
}

/* tablet device */
 @media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
   .players, .courses{
       grid-template-columns: repeat(2, 1fr);
   }
   .blogs{
       grid-template-columns: repeat(1,1fr);
      
   }
    
} 
/* Koures  */
@media  only screen  and (max-width:688px){
    .container{
        width: 100%;
    }
    .kourses{
        grid-template-columns: repeat(1,1fr);
        background-color: rgba(221, 89, 37, 0.781);
       
    }
    .kourse{
         margin-top: 30px;
        margin-left: 50px;
      
    }
    
}
 /* tablet */
@media only screen and (min-width:689px) and (max-width:992px) 
{
.kourses{
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(26, 151, 82, 0.39);
  
} 
.kourse{
 
  background-color: green;
  border: 2px solid red;
  margin:20px 30px 40px 40px;
  color: #FFFFFF;
}   
.chobi img{
    width: 100%;
}
}